1st class of python

In [7]:
name = "Zain Ul Abideen" 
print(name)
print(type(name)) 
print(id(name))

Zain Ul Abideen
<class 'str'>
1937101569584

2nd Class of Python

In [8]:
#Type of string text
# boundries
'string text' "string text" '''string text''' """string text"""
name : str = "Muhammad Zain"
fathername : str = "Muhammad"
education : str = "Photographer"
age : int = 18
card : str = "Student ID card\nStudent name:" 
print(card)

Student ID card
Student name:

Difine multiline string """abc""" , ''' abc '''

In [9]:
studentname : str = "Muhammad Zain"
fathername : str = "Muhammad"
education : str = "Photographer"
age : int = 18

card : str = """Student ID card 
Student name =
fathername =
education =
age =
"""
print(card)

Student ID card
Student name =
fathername =
education =
age =

using F-string

In [10]:
studentname : str = "Muhammad Zain"
fathername : str = "Muhammad"
education : str = "Photographer"
age : int = 18

card : str = f"""Student ID card 
Student name ={studentname}
fathername ={fathername}
education ={education}
age ={age}
"""
print(card)

Student ID card
Student name =Muhammad Zain
fathername =Muhammad
education =Photographer
age =18

Using %s and %d

%d = Ye integer values (whole numbers) ke liye use hota hai.

%s = Ye strings (text values) ke liye use hota hai. Yeh kisi bhi data type ko string mein convert kar sakta hai

In [11]:
studentname : str = "Muhammad Zain"
fathername : str = "Muhammad"
education : str = "Photographer"
age : int = 18

card : str = f"""Student ID card 
Student name=%s
fathername =%s
education =%s
age =%d
"""%(studentname,fathername,education,age)
print(card)

Student ID card
Student name=Muhammad Zain
fathername =Muhammad
education =Photographer
age =18

for all methods of string

In [12]:
[i for i in dir(str) if"_" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Using method

In [13]:
name : str = "MuHaMmAd ZaIn"
print(name.capitalize())

Muhammad zain

.formate code 1

In [14]:
a = 7
b = 8
#  {} place holder 
result="Pakistan value a = {} and value b = {}".format(a,b)
print(result)

Pakistan value a = 7 and value b = 8

.format code 2

In [15]:
name : str = "Muhammad Zain"
fname : str = "Muhammad"
education : str = "Photographer"
age : int = 18

card : str = """
Student ID card 
Student name : {a}
fathername : {b}
Education = {c}
Age ={d}

""".format(a=name, b=fname, c=education, d=age)
print(card)

Student ID card
Student name : Muhammad Zain
fathername : Muhammad
Education = Photographer
Age =18

Method

In [16]:
name : str = "MuHaMmAd ZaIn"
#vereable_name.method()
print(name.capitalize())
print(name.title())

Muhammad zain
Muhammad Zain

Practice

1. Capitalize Each Word
Write a program to capitalize the first letter of each word in a given sentence.

In [17]:
name : str = "m ZaIn uL aBiDeEn"
print(name.capitalize())

M zain ul abideen

2. Remove Whitespace
Write a program to remove all leading, trailing, and extra spaces in a string.
Example: "  Hello    World  " â†’ "Hello World"

In [18]:
name : str  = "Hello                World"
result = " ". join(name.split())
print(result)

Hello World

3. Check Prefix or Suffix
Write a program to check if a given string starts with or ends with a specific substring.

In [19]:
text =  "hello world"
result = (text.removeprefix(""))
print(result)

hello world

4. Count Occurrences
Write a program to count how many times a specific substring appears in a string.

In [20]:
data=  """ M Zain Ul Abideen and" 'I'm 18  year old' , 'Now i learn how to become a good man' 'as a father,brother' 'i have 2 wife '"""
specific_int = "father"
result = data.count(specific_int)
print(result)

1

5. Replace Substring
Write a program to replace all occurrences of a substring in a string with another substring.

In [21]:
name : str = "I hope i do portrait,Photographer"
Target_substing = "portrait"
replacement_substring = "product"
result = name.replace(Target_substing,replacement_substring)
print(result)

I hope i do product,Photographer

6. Check for Digits
Write a program to check if a given string contains only numeric characters.

In [22]:
number : str ="123a456f78g-9"
numeric = name 
num_check = number.isdigit()
print(num_check)

False

7. Convert Case
Write a program to convert a string to lowercase, uppercase, and title case (first letter of each word capitalized).

In [23]:
name : str = "M ZaIn Ul aBdEeN"
result = (name.capitalize()),(name.lower()),(name.upper()),(name.title())
print(result)

('M zain ul abdeen', 'm zain ul abdeen', 'M ZAIN UL ABDEEN', 'M Zain Ul Abdeen')

8. Split and Join
Write a program to split a sentence into words and then join them back with a different delimiter (e.g., -).

In [24]:
veriable : str = "I love python"
result1= veriable.split()
print(result1)
result2 = "".join(veriable)

print(result2)

['I', 'love', 'python']
I love python

9. Remove Special Characters
Write a program to remove all special characters (like @, #, $, %) from a string.

In [25]:
email : str = "ismezain2050@gmail.com"
result = email.replace("@","$")
print(result)

ismezain2050$gmail.com

10. Find Maximum Character
Write a program to find the character that appears the most in a given string.

In [26]:
name : str = "heyy man what's up?"
result = name.count("y")
print(result)

2

**Type Conversison**

In [27]:
a : int = 9 # int change into float
b : float = 2.05
print(a + b)

11.05

In [1]:
a = 31 # int change into str it's not possible but i did it
a1 = str(a)
print(a1)

31

**Checking Str Lenght**

In [3]:
str = "apna"
len1 = (len(str))
print(len1)

4

**Indexing**

In [4]:
str = "zain ul abideen"
ch = str[5]
print(ch)

u

**Slicing** positive indexing

In [5]:
str = "Zain ul abideen"
print(str[0 : 5])

Zain

In [6]:
str = "Zain ul abideen"
print(str[8 : len(str)])

abideen

**Slicing** nagitive indexing

In [29]:
str = "Zain ul abideen"
print(str[-5 : -1])

idee